<div class="sidebar" id="sidebar">
    <div class="sidebar-header">
        <button class="sidebar-toggle" onclick="toggleSidebar()">
            ☰
        </button>
        <span class="sidebar-title">Gerenciamento</span>
    </div>

    <div class="menu-item" onclick="scrollPara('dashboard')">
        <span class="icon">📊</span>
        <span class="menu-text">Dashboard</span>
    </div>

    <div class="menu-item" onclick="scrollPara('estoque')">
        <span class="icon">📦</span>
        <span class="menu-text">Estoque</span>
    </div>

    <div class="menu-item" onclick="scrollPara('promocoes')">
        <span class="icon">💵</span>
        <span class="menu-text">Produtos / Combos </span>
    </div>

    <div class="menu-item" onclick="scrollPara('logs')">
        <span class="icon">📜</span>
        <span class="menu-text">Logs do Sistema</span>
    </div>

    <div class="menu-item" onclick="scrollPara('logistica')">
        <span class="icon">🚚</span>
        <span class="menu-text">Logística / Entregas</span>
    </div>

    <div class="menu-item" onclick="scrollPara('suporte')">
        <span class="icon">🎧</span>
        <span class="menu-text">Suporte / Tickets</span>
    </div>
</div>